connexion[swagger-ui] == 2.14.2; python_version>="3.6"
swagger-ui-bundle == 0.0.9
python_dateutil == 2.8.2
setuptools == 68.2.2
Flask == 2.0.3
pymongo == 4.0.1
flask_jwt_extended == 4.4.4
pyopenssl == 23.0.0
