# Requirements needed when generating releases. See BUILD.rst for details.
appdirs
bcrypt
beautifulsoup4
certifi
cffi
chardet
cryptography
Deprecated
docutils
idna
invoke
ipaddress
lxml
paramiko
psutil
pyasn1
pyasn1-modules
pycparser
PyGithub
PyJWT
PyNaCl
python-ldap
pythonping
rellu
requests
robotframework
robotframework-lint
robotframework-pythonlibcore
robotframework-requests
robotframework-seleniumlibrary
robotframework-sshlibrary
robotremoteserver
scp
selenium
six
soupsieve
sshconf
tqdm
urllib3
webdrivermanager
wrapt
pandas
xlrd
robotframework-mongodb-library
requests
configparser
redis
pyopenssl
evolved5g
